@font-face {
  font-family: "Mona Sans";
  src: url("./Mona-Sans-f258701679eace96725e03121950af40ae6e4ceef03b21242c66a3b7ae6ccbf4.woff2")
    format("woff2");
  /* url('./Mona-Sans-f258701679eace96725e03121950af40ae6e4ceef03b21242c66a3b7ae6ccbf4.woff2') format('woff'); */
  /* Add more formats if needed */
  font-weight: normal;
  font-style: normal;
}
